@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root{
    --orange: hsl(0, 36%, 70%);
    --softred:hsl(0, 93%, 68%);
    --greyred:hsl(0, 6%, 24%);
}

*{
    box-sizing: border-box;
    /* border: 1px solid black; */
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Josefin Sans', sans-serif;
    background-image: linear-gradient(135deg,hsl(0, 0%, 100%),  hsl(0, 100%, 98%));
    /* overflow-y: hidden; */
}
.wrong{
    /* padding-left: 70%; */
}
.orange{
    color: var(--orange);
}
.email{
    /* padding: 10px 0; */
    display: flex;
    margin-top: 20px;
   
    border: 1px solid var(--orange);
    border-radius: 25px;
    align-items: center;
}
button{
    background-image: linear-gradient(135deg,  hsl(0, 80%, 86%),  hsl(0, 74%, 74%));
    border-style: none;
    padding: 5px 30px;
    border-radius: 15px;
    cursor: pointer;
    /* margin-left: auto; */
}
.button{
    margin-left: auto;
    display: flex;
    /* width: 20%; */
}
.wrong{
    padding: 5px 10px ;
   
}
button:hover{
    /* opacity: 0.6; */
    box-shadow: 5px 5px 25px grey;
}

input[type=text]
{
    color:var(--orange);
    padding: 5px 0px;
    padding-left: 10px;
    border-radius: 15px;
    /* border: 1px solid var(--orange); */
    border-style: none;
    background-color: inherit;
    width: 100%;
    padding-right: 300px
}
input[type=text]::placeholder{
    color: var(--orange);
}
input[type=text]:focus{
    outline: none;
}
#none{
    display: none;

}
#nonetext{
    display: none;
    color:red;
    font-size: 12px;
    padding-top: 10px;
}

@media screen and (max-width: 600px) {
    
    #mobile{
        width: 100%;
        height: auto;
    }
    #desktop{
        display: none;

    }
    #logo{
        padding: 10px;
    }
    .text{
        padding: 20px ;
        text-align: center;
       
        width: 100%;
    }
    
    .button{
        padding-left: 200px;
    }
}
@media screen and (min-width:601px){
    h1{
        font-size: 64px;
    }
    .desktop{
        width: 40%;
        
    }
    #desktop{
        display: initial;
        /* width: 100%; */
    }
    #mobile{
        display: none;
    }
    main{
        display: flex;
        width: 100%;
    }
    .left{
        display: flex;
        flex-direction: column;
        padding: 50px 10%;
        /* width: 60%; */
    }
    
}